<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frlib.basic">

    <!-- 允许应用程序访问有关网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 允许应用程序访问有关Wi-Fi网络的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 允许应用程序访问相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- 允许应用程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 允许应用程序从外部存储读取 Android 11 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <!-- 允许应用程序从外部存储读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 允许应用程序请求安装包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 允许应用程序写入外部存储 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config">

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".image.viewer.ImagesViewerActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>